<ion-col size="6" class="align-self-start" *ngIf="showTime">
  <div *ngIf="recordType === 3" [ngClass]="css" (click)="$event.stopPropagation(); onClick()">
    <h6>{{ formatTime(appointment) }}</h6>
    <h6 class="threeDots">{{appointment.HorseName}}</h6>
  </div>
  <div *ngIf="recordType === 0 || recordType === 1" [ngClass]="css" (click)="$event.stopPropagation(); onClick()">
    <h6>{{ formatTime(appointment) }}</h6>
    <h6 class="threeDots">{{appointment.AppointmentName}}</h6>
    <h6 class="threeDots">{{appointment.HorseName}}</h6>
  </div>
  <div *ngIf="recordType === 2" [ngClass]="css" (click)="$event.stopPropagation(); onClick()">
    <h6>{{ formatTime(appointment) }}</h6>
    <h6 class="threeDots">{{appointment.UserName}}</h6>
    <h6 class="threeDots">{{appointment.AppointmentName}}</h6>
  </div>
</ion-col>
<ion-col size="6" class="align-self-start"  *ngIf="!showTime">
  <div *ngIf="recordType === 0" [ngClass]="css" (click)="$event.stopPropagation(); onClick()">
    <h6 *ngIf="appointment.AppointmentName === '' || appointment.AppointmentName === undefined" class="threeDots" >{{appointment.UserName}}</h6>
    <h6 *ngIf="appointment.AppointmentName !== '' && appointment.AppointmentName !== undefined" class="threeDots" >{{appointment.AppointmentName}}</h6>
    <h6 class="threeDots">{{appointment.HorseName}}</h6>
  </div>
  <div *ngIf="recordType === 3" [ngClass]="css" (click)="$event.stopPropagation(); onClick()">
    <h6 class="threeDots">{{appointment.UserName}}</h6>
    <h6 class="threeDots">{{appointment.HorseName}}</h6>
  </div>
  <div *ngIf="recordType === 1" [ngClass]="css" (click)="$event.stopPropagation(); onClick()">
    <h6 *ngIf="appointment.AppointmentName === '' || appointment.AppointmentName === undefined" class="threeDots" >{{appointment.UserName}}</h6>
    <h6 *ngIf="appointment.AppointmentName !== '' && appointment.AppointmentName !== undefined" class="threeDots" >{{appointment.AppointmentName}}</h6>
    <h6 class="threeDots">{{appointment.HorseName}}</h6>
  </div>
  <div *ngIf="recordType === 2" [ngClass]="css" (click)="$event.stopPropagation(); onClick()">
    <h6 class="threeDots">{{appointment.UserName}}</h6>
    <h6 class="threeDots">{{appointment.AppointmentName}}</h6>
  </div>
</ion-col>