.standardData {
    background-color: var(--ion-color-standardData);
    color: #ffffff;
  }
  
  .privateData {
    background-color: var(--ion-color-privateData);
    color: #ffffff;
  }

  .adminData {
    background-color: var(--ion-color-adminData); 
    color: #ffffff;
  }

  .otherData {
    background-color: var(--ion-color-otherData);
    color: #181817;
  }
  
  .dirtyData {
    background-color: var(--ion-color-dirtyData);
    color: #ffffff;
  }

  .textcenter {
    font-size: 0.8em;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding: 2px;
    border-radius: 6px;
    border-style: solid;
    text-align: center;
    border-width: 1px;
    width: 100px;
    border-color:#000000;
    box-shadow: 1px 1px 1px #193d24;
  }

  .threeDots {
    width: 100%;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
  }

  h6 {
    font-size: 0.9em;
    margin: 1px;
  }

  ion-col {
    padding: 0px;
  }