<ion-item-sliding (click)="onClick()" lines="none">
  <ion-item color="{{color}}">
    <div class="contentRow">
      <ion-avatar item-start>
        <img class="smallImage" [src]="newsImage" />
      </ion-avatar>
      <h6 class="component">{{ news.Name }}</h6>
    </div>
  </ion-item>
  <ion-item-options lines="none">
    <ion-item-option color="danger" [disabled]="!dataProvider.IsOnline" (click)="$event.stopPropagation(); onDeleteNews(news)">
      <ion-icon name="trash"></ion-icon>
      {{ 'BTN_DELETE_NEWS' | translate }}
    </ion-item-option>
  </ion-item-options>
</ion-item-sliding>