<ion-item-sliding (click)="onClick()" lines="none">
  <ion-item color="{{color}}">
    <div class="contentRow">
      <ion-avatar>
        <img class="smallImage" [src]="placeImage" />
      </ion-avatar>
      <div>
        <h6 class="component">{{place.Name}}</h6>
        <h6 class="component">{{place.OwnerName}}</h6>
      </div>
    </div>
  </ion-item>
  <ion-item-options lines="none" *ngIf="canDelete">
    <ion-item-option color="danger" [disabled]="!dataProvider.IsOnline || isLastPlace" (click)="onDeletePlace()">
      <ion-icon name="trash"></ion-icon>
      {{ 'BTN_DELETE_NEWS' | translate }}
    </ion-item-option>
  </ion-item-options>
</ion-item-sliding>