<ion-header class="opaque">
  <ion-toolbar color="primary" align-title="middle">
    <ion-buttons slot="start">
      <ion-menu-toggle>
        <ion-button>
          <ion-icon name="menu"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons>
    <ion-title>{{ dataProvider.getHeader('HEADER_NEWS') }}</ion-title>
    <ion-buttons slot="end">
      <ion-button icon-only (click)="onRefresh()">
        <ion-icon name="refresh-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-list>
    <ion-item-divider color="secondary">{{ 'LIST_HEADER_NEWS' | translate }}</ion-item-divider>
    <ion-item-sliding #item  *ngFor="let news of dataProvider.News">
      <ion-item color="light" (click)="onDetails(news)">
        <ion-avatar item-start>
          <img class="smallImage" [src]="news.LocalImage"/>
        </ion-avatar>
        <p>{{news.Headline}}</p>
      </ion-item>
      <ion-item-options side="right">
        <ion-button color="danger" [disabled]="!dataProvider.IsOnline" (click)="onDelete($event, news)">
          <ion-icon name="trash"></ion-icon>
          {{ 'BTN_DELETE_NEWS' | translate }}
        </ion-button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>

