<ion-header class="opaque">
  <ion-toolbar color="primary" align-title="middle">
    <ion-buttons slot="start">
      <ion-button icon="close-outline" (click)="cancel()">{{ 'BTN_BACK' | translate }}</ion-button>
    </ion-buttons>
    <ion-title>{{ dataProvider.getHeader('HEADER_NEWSDETAILS') }}</ion-title>
    <ion-buttons slot="end">
      <ion-icon ios="ios-refresh-circle" md="md-refresh-circle"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list inset>
    <ion-item color="light" text-wrap>
      <h2>{{news.Headline}}</h2>
    </ion-item>
    <ion-item text-wrap>
      <div [innerHTML]="safeHtml"></div>
    </ion-item>
    <swiper-container>
      <swiper-slide>
        <div class="swiper-zoom-container">
          <img [src]="image">
        </div>
      </swiper-slide>
    </swiper-container>
  </ion-list>
</ion-content>
