<ion-header class="opaque">
  <ion-toolbar color="primary" align-title="middle">
    <ion-buttons slot="start">
      <ion-button icon="close-outline" (click)="cancel()">{{ 'BTN_BACK' | translate }}</ion-button>
    </ion-buttons>
    <ion-title>{{ dataProvider.Profile.CurrentPlace.Name }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
    <div class="imgcenter">
      <ion-avatar>
        <img [src]="placeImage" (click)="zoom()"/>
      </ion-avatar>
    </div>
  <ion-row wrap class="justify-content-center align-items-top ion-no-padding">
    <ion-col size="4"><h6>{{ 'LBL_PLACENAME' | translate }}</h6></ion-col>
    <ion-col size="8"><h6>{{ dataProvider.Profile.CurrentPlace.Name }}</h6></ion-col>
  </ion-row>
  <ion-row wrap class="justify-content-center align-items-top ion-no-padding">
    <ion-col size="4"><h6>{{ 'LBL_OWNERNAME' | translate }}</h6></ion-col>
    <ion-col size="8"><h6 class="linebreak">{{ dataProvider.Profile.CurrentPlace.OwnerName }}</h6></ion-col>
  </ion-row>
  <ion-list>
    <ion-item-divider color="secondary">{{ 'LIST_HEADER_BUSINESSHOURS' | translate }}</ion-item-divider>
    <ion-row *ngFor="let day of dataProvider.Profile.CurrentPlace.BusinessHours">
      <ion-col size="4"><h6>{{day.dayName}}</h6></ion-col>
      <ion-col size="8"><h6>{{day.businessHourText}}</h6></ion-col>
    </ion-row>
  </ion-list>
  <ion-row wrap class="justify-content-center align-items-top">
    <ion-col size="4"><h6>{{ 'LBL_PLACEBOOKABELETO' | translate }}</h6></ion-col>
    <ion-col size="8"><h6 class="linebreak">{{ dataProvider.Profile.CurrentPlace.BookableTo }}</h6></ion-col>
  </ion-row>
  <ion-row wrap class="justify-content-center align-items-top">
    <ion-col size="4"><h6>{{ 'LBL_MAXCAPACITY' | translate }}</h6></ion-col>
    <ion-col size="8"><h6>{{ dataProvider.Profile.CurrentPlace.MaxCapacity }}</h6></ion-col>
  </ion-row>
  <ion-row *ngIf="details !== ''" wrap class="justify-content-center align-items-top">
    <ion-col size="4"><h6>{{ 'LBL_PLACEDESCRIPTION' | translate }}</h6></ion-col>
    <ion-col size="8"><h6 class="linebreak">{{ details }}</h6></ion-col>
  </ion-row>
</ion-content>
