
  ion-label {
    margin: 6px 3px 6px 0 !important;
  }

  .center {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  ion-avatar {
    width: 60px !important;
    height: 60px !important;
  }
  
  .linebreak {
    white-space: pre-line;
  }

  h6 {
    font-size: 14px;
    margin: 1px;
    padding: 1px;
  }

  .imgcenter {
    width: 100%;
    display: grid;
    place-items: center;
  }

