<ion-header class="opaque">
  <ion-toolbar color="primary" align-title="middle">
    <ion-buttons slot="start">
      <ion-back-button icon="close-outline"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ dataProvider.getHeader('HEADER_IMAGEVIEW') }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item>
      <!-- <swiper-container>
        <swiper-slide> -->
          <div class="swiper-zoom-container">
            <img [src]="image">
          </div>
        <!-- </swiper-slide>
      </swiper-container> -->
    </ion-item>
  </ion-list>
</ion-content>