<ion-header class="opaque">
  <ion-toolbar color="primary" align-title="middle">
    <ion-buttons slot="start">
      <ion-button icon="close-outline" (click)="cancel()">{{ 'BTN_BACK' | translate }}</ion-button>
    </ion-buttons>
    <ion-title>{{ dataProvider.Profile.CurrentPlace.Name }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-list>
    <app-place [place]="dataProvider.Profile.CurrentPlace" [color]="color" (click)="$event.stopPropagation(); onPlaceDetails()"></app-place>
    <ion-item-divider color="secondary">{{ 'BTN_NOWINPLACE' | translate }}</ion-item-divider>
    <app-hour [halfHour]="halfHour" *ngFor="let halfHour of dataProvider.NowInPlaceData" (index)="index" (showAppointment)="onShowAppointment($event)"></app-hour>
  </ion-list>
</ion-content>
