  ion-avatar img {
    width: 70px !important;
    height: 70px !important;
  }

  ion-avatar img.smallImage {
    width: 40px !important;
    height: 40px !important;
  }

  h6 {
    font-size: 14px;
    margin: 1px;
    padding-left: 15px;
  }

