ion-avatar {
  width: 45px !important;
  height: 45px !important;
}

img.smallImage {
  width: 45px !important;
  height: 45px !important;
}

.contentRow {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}
