<ion-header class="opaque">
  <ion-toolbar color="primary" align-title="middle">
    <ion-buttons slot="start">
      <ion-button icon="close-outline" (click)="cancel()">{{ 'BTN_CANCEL' | translate }}</ion-button>
    </ion-buttons>
    <ion-title>{{ dataProvider.getHeader('HEADER_EDITPROFILE') }}</ion-title>
    <ion-buttons slot="end">
      <ion-button icon="close-outline" (click)="onSaveProfile()">{{ 'BTN_SAVE' | translate }}</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
  <ion-content class="ion-padding">
    <ion-item class="ion-no-padding">
      <ion-row class="hp">
        <ion-col size="3">
          <div class="avatarcenter">
            <ion-avatar>
              <img [src]="profileImage" (click)="onGetImage()"/>
            </ion-avatar>
          </div>
        </ion-col>
        <ion-col size="9">
          <ion-item lines="none" (click)="onGetImage()"><ion-icon item-start name="create"></ion-icon><span>{{ 'BTN_MODIFY_IMAGE' | translate }}</span></ion-item>
          <ion-item lines="none"  (click)="onDeleteImage()" ><ion-icon item-start name="trash"></ion-icon><span>{{ 'BTN_DELETE_IMAGE' | translate }}</span></ion-item>
        </ion-col>
      </ion-row>
    </ion-item>
    <ion-button color="primary" (click)="onSaveProfile()" expand="block">{{ 'BTN_EDITPROFILE' | translate }}</ion-button>
      <ion-list lines="none">
        <ion-item>
          <ion-input type="{{ 'FIRSTNAME' | translate }}"  labelPlacement="floating" [(ngModel)]="profile.FirstName" ></ion-input>
        </ion-item>
        <ion-item>
          <ion-input label="{{ 'NAME' | translate }}" type="text"  labelPlacement="floating" [(ngModel)]="profile.Name"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input label="{{ 'DISPLAYNAME' | translate }}"type="text"  labelPlacement="floating" [(ngModel)]="profile.DisplayName"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input label="{{ 'EMAIL' | translate }}"type="text"  labelPlacement="floating" [(ngModel)]="profile.Email" disabled="true"></ion-input>
        </ion-item>
        <ion-item>
          <ion-checkbox labelPlacement="start" [(ngModel)]="profile.IsPublicProfile">{{ 'PUBLICPROFILE' | translate }}</ion-checkbox>
        </ion-item>
        <ion-row class="justify-content-center align-items-center">
          <ion-col>{{ 'PUBLICPROFILE_TEXT' | translate }}</ion-col>
        </ion-row>
        <ion-item>
          <ion-checkbox labelPlacement="start" [(ngModel)]="profile.ShowEvents">{{ 'SHOWEVENTS' | translate }}</ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-checkbox labelPlacement="start" [(ngModel)]="profile.NotificationsAllowed">{{ 'NOTIFICATION' | translate }}</ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-input label="{{ 'NOTIFICATION_DELAY' | translate }}" autocorrect="on" type="number" min="10" max="3600"  labelPlacement="floating" [(ngModel)]="profile.NotificationDelay"></ion-input>
        </ion-item>
      </ion-list>
  </ion-content>
