<ion-header class="opaque">
  <ion-toolbar color="primary" align-title="middle">
    <ion-buttons slot="start">
      <ion-menu-toggle>
        <ion-button>
          <ion-icon name="menu"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons>
    <ion-title>{{ dataProvider.getHeader('HEADER_PLACES') }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-list>
    <ion-item-divider color="secondary">{{ 'LIST_HEADER_PRIVATE_APPOINTMENT' | translate }}</ion-item-divider>
    <app-place [place]="privatePlace" [color]="color" (click)="$event.stopPropagation(); selectPlace(privatePlace)"></app-place>
  </ion-list>
  <ion-list *ngIf="hasPlaces">
    <ion-item-divider color="secondary">{{ 'LIST_HEADER_PLACES' | translate }}</ion-item-divider>
    <app-place [place]="place" [color]="color" (click)="$event.stopPropagation(); selectPlace(place)" *ngFor="let place of dataProvider.Profile.Places"></app-place>
  </ion-list>
</ion-content>