<ion-header class="opaque">
  <ion-toolbar color="primary" align-title="middle">
    <ion-buttons slot="start">
      <ion-button icon="close-outline" (click)="cancel()">{{ 'BTN_CANCEL' | translate }}</ion-button>
    </ion-buttons>
    <ion-title>{{ dataProvider.getHeader(isNew? 'HEADER_CREATE' : 'HEADER_MODIFY') }}</ion-title>
    <ion-buttons slot="end">
      <ion-button icon="close-outline"
        [disabled]="!dataProvider.IsOnline || !appointmentService.appointment.IsInTheFuture"
        (click)="onCreateOrUpdate()">{{ 'BTN_SAVE' | translate }}</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <app-imageavatar *ngIf="dataProvider.Profile.Horses.length === 1" [imageType]="'horse'" [key]="dataProvider.Profile.Horses[0].HorseKey" [imageurl]="" ></app-imageavatar>
  <ion-grid>
    <ion-row *ngIf="isNew || !appointmentService.appointment.IsInTheFuture">
      <ion-col size="3">
        <h6>{{ 'LBL_DATE' | translate }}</h6>
      </ion-col>
      <ion-col size="9">
        <h6>{{ appointmentService.getDateText() }}</h6>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="isNew">
      <ion-col size="3">
        <h6>{{ 'LBL_TIME' | translate }}</h6>
      </ion-col>
      <ion-col size="9">
        <h6>{{ appointmentService.getDurationText() }}</h6>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="!isNew && appointmentService.appointment.IsInTheFuture">
      <ion-toolbar align-title="middle">
        <ion-buttons slot="start">
          <ion-button icon-only (click)="appointmentService.decDate()">
            <ion-icon name="arrow-back-circle-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
        <ion-title class="textcenter">{{ appointmentService.getDateText() }}</ion-title>
        <ion-buttons slot="end">
          <ion-button icon-only (click)="appointmentService.incDate()">
            <ion-icon name="arrow-forward-circle-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-row>
    <ion-row *ngIf="!isNew && appointmentService.appointment.IsInTheFuture">
      <ion-toolbar align-title="middle">
        <ion-buttons slot="start">
          <ion-button icon-only (click)="appointmentService.decTime()">
            <ion-icon name="arrow-back-circle-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
        <ion-title class="textcenter">{{appointmentService.getDurationText()}}</ion-title>
        <ion-buttons slot="end">
          <ion-button icon-only (click)="appointmentService.incTime()">
            <ion-icon name="arrow-forward-circle-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-row>
    <ion-row>
      <ion-col size="3">
        <h6>{{ 'LBL_DURATION' | translate }}</h6>
      </ion-col>
      <ion-col size="9">
        <h6>{{ appointmentService.getTimeText() }}</h6>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="3">
        <h6>{{ 'LBL_PLACE' | translate }}</h6>
      </ion-col>
      <ion-col size="9">
        <h6>{{ dataProvider.Profile.CurrentPlace.Name }}</h6>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="3">
        <h6>{{ 'LBL_HORSE' | translate }}</h6>
      </ion-col>
      <ion-col size="9">
        <h6>{{ appointmentService.appointment.HorseName }}</h6>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="!isNew && appointmentService.appointment.IsInTheFuture">
      <ion-col size="6"><ion-button color="primary" (click)="onCreateOrUpdate()" expand="block">{{ 'BTN_SAVEAPPOINTMENT'
          | translate }}</ion-button></ion-col>
      <ion-col size="6"><ion-button color="tertiary" (click)="onDelete()" expand="block">{{ 'BTN_DELETEAPPOINTMENT' |
          translate }}</ion-button></ion-col>
    </ion-row>
  </ion-grid>
  <ion-button *ngIf="isNew" color="primary" [disabled]="!dataProvider.IsOnline" (click)="onCreateOrUpdate()"
    expand="block">{{ 'BTN_SAVEAPPOINTMENT' | translate }}</ion-button>
  <ion-button *ngIf="this.dataProvider.Profile.CurrentPlace.IsAdmin && !hasEvent && isNew"
    [disabled]="!dataProvider.IsOnline" color="secondary" (click)="onCreateAdminAppointment()" expand="block">{{
    'BTN_ADMINAPPOINTMENT' | translate }}</ion-button>

  <ion-range *ngIf="dataProvider.Profile.CurrentPlace.MaxCapacity > 1" min="30" max="120" step="30" snaps="true"
    color="success" [(ngModel)]="duration" (ionChange)="$event.stopPropagation(); changeDuration($event)">
    <ion-label slot="start">30min</ion-label>
    <ion-label slot="end">2h</ion-label>
  </ion-range>
  <ion-row *ngIf="dataProvider.Profile.Horses.length > 1">
    <ion-col size="12">
        <app-horse *ngFor="let horse of dataProvider.Profile.Horses" [horse]="horse" [showappointments]="false" [showIsActive]="true" item-start (click)="onChangeHorse(horse)"/>
    </ion-col>
  </ion-row>
  <ion-item>
    <ion-select label="{{ 'LBL_JOBTYPE' | translate }}" labelPlacement="floating"
      [(ngModel)]="appointmentService.appointment.JobType" name="jobType" ngDefaultControl interface="popover"
      multiple="false" (ionChange)="onChangeJobType()">
      <ion-select-option *ngFor="let jobtype of appointmentService.StandardJobTypes"
        [value]="jobtype.id">{{jobtype.text}}</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-input label="{{ 'LBL_TEXT' | translate }}" type="text" labelPlacement="floating"
      [(ngModel)]="appointmentService.appointment.AppointmentName" name="jobname"
      (ionChange)="onNameChanged()"></ion-input>
  </ion-item>
  <ion-item>
    <ion-textarea label="{{ 'LBL_NOTES' | translate }}" #comment id="comment" rows="6" maxLength="500"
      (keyup)="resize()" labelPlacement="floating" [(ngModel)]="appointmentService.appointment.Comment"></ion-textarea>
  </ion-item>
</ion-content>