page-eventdetails {
  .center {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  ion-avatar img {
    width: 70px !important;
    height: 70px !important;
  }

  ion-avatar img.smallImage {
    width: 40px !important;
    height: 40px !important;
  }
}
