<ion-header class="opaque">
  <ion-toolbar color="primary" align-title="middle">
    <ion-buttons slot="start">
      <ion-button icon="close-outline" (click)="cancel()">{{ 'BTN_BACK' | translate }}</ion-button>
    </ion-buttons>
    <ion-title>{{ dataProvider.getHeader('HEADER_APPOINTMENTDETAILS') }}</ion-title>
    <ion-buttons slot="end" *ngIf="appointmentService.appointment.OwnAppointment">
      <ion-button icon="close-outline" (click)="onSave()">{{ 'BTN_SAVE' | translate }}</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <app-imageavatar [imageType]="imageType" [key]="key" [imageurl]="appointmentService.appointment.ImageUrl"></app-imageavatar>
  <ion-grid>
  <ion-row>
    <ion-col size="3"><h6>{{ 'LBL_DATE' | translate }}</h6></ion-col>
    <ion-col size="9"><h6>{{ appointmentService.getDateText() }}</h6></ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="3"><h6>{{ 'LBL_TIME' | translate }}</h6></ion-col>
    <ion-col size="9"><h6>{{ appointmentService.getDurationText() }}</h6></ion-col>
  </ion-row>
  <ion-row>
      <ion-col size="3"><h6>{{ 'LBL_DURATION' | translate }}</h6></ion-col>
      <ion-col size="9"><h6>{{ appointmentService.getTimeText() }}</h6></ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="3"><h6>{{ 'LBL_PLACE' | translate }}</h6></ion-col>
      <ion-col size="9"><h6>{{ dataProvider.Profile.CurrentPlace.Name }}</h6></ion-col>
    </ion-row>
    <ion-row *ngIf="appointmentService.appointment.HorseName !== null">
        <ion-col size="3"><h6>{{ 'LBL_HORSE' | translate }}</h6></ion-col>
        <ion-col size="9"><h6>{{ appointmentService.appointment.HorseName }}</h6></ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="3"><h6>{{ 'LBL_JOBTYPE' | translate }}</h6></ion-col>
      <ion-col size="9"><h6>{{ jobName }}</h6></ion-col>
    </ion-row>
    <ion-row *ngIf="appointmentService.appointment.AppointmentName !== ''">
      <ion-col size="3"><h6>{{ 'LBL_TEXT' | translate }}</h6></ion-col>
      <ion-col size="9"><h6>{{ appointmentService.appointment.AppointmentName }}</h6></ion-col>
    </ion-row>
    <ion-row *ngIf="!appointmentService.appointment.OwnAppointment">
      <ion-col size="3"><h6>{{ 'LBL_USERNAME' | translate }}</h6></ion-col>
      <ion-col size="9"><h6>{{ appointmentService.appointment.UserName }}</h6></ion-col>
    </ion-row>
  </ion-grid>
  <ion-button *ngIf="appointmentService.appointment.OwnAppointment" color="primary" (click)="onSave()" expand="block">{{ 'BTN_SAVE_CHANGES' | translate }}</ion-button>
  <ion-item *ngIf="appointmentService.appointment.OwnAppointment">
    <ion-textarea label="{{ 'LBL_NOTES' | translate }}" #comment id="comment" rows="6" maxLength="500" (keyup)="resize()" labelPlacement="floating" [(ngModel)]="appointmentService.appointment.Comment"></ion-textarea>
  </ion-item>
</ion-content>
