page-otherappointment .center {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

page-otherappointment ion-avatar img {
  width: 70px !important;

}

page-otherappointment ion-avatar img.smallImage {
  width: 55px !important;
}
