<ion-header class="opaque">
  <ion-toolbar color="primary" align-title="middle">
    <ion-buttons slot="start">
      <ion-button icon="close-outline" (click)="cancel()">{{ 'BTN_CANCEL' | translate }}</ion-button>
    </ion-buttons>
    <ion-title>{{ dataProvider.getHeader(isNew? 'HEADER_ADMINAPPOINTMENT' : 'HEADER_ADMINAPPOINTMENT') }}</ion-title>
    <ion-buttons slot="end">
      <ion-button icon="close-outline" (click)="onCreateOrUpdate()">{{ 'BTN_SAVE' | translate }}</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-grid>
    <ion-row *ngIf="isNew">
      <ion-col size="3">
        <h6>{{ 'LBL_DATE' | translate }}</h6>
      </ion-col>
      <ion-col size="9">
        <h6>{{ appointmentService.getDateText() }}</h6>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="isNew">
      <ion-col size="3">
        <h6>{{ 'LBL_TIME' | translate }}</h6>
      </ion-col>
      <ion-col size="9">
        <h6>{{ appointmentService.getDurationText() }}</h6>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="!isNew">
      <ion-toolbar align-title="middle" class="changer">
        <ion-buttons slot="start">
          <ion-button icon-only (click)="appointmentService.decDate()">
            <ion-icon name="arrow-back-circle-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
        <ion-title class="textcenter">{{ appointmentService.getDateText() }}</ion-title>
        <ion-buttons slot="end">
          <ion-button icon-only (click)="appointmentService.incDate()">
            <ion-icon name="arrow-forward-circle-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-row>
    <ion-row *ngIf="!isNew">
      <ion-toolbar align-title="middle" class="changer">
        <ion-buttons slot="start">
          <ion-button icon-only (click)="appointmentService.decTime()">
            <ion-icon name="arrow-back-circle-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
        <ion-title class="textcenter">{{appointmentService.getDurationText()}}</ion-title>
        <ion-buttons slot="end">
          <ion-button icon-only (click)="appointmentService.incTime()">
            <ion-icon name="arrow-forward-circle-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-row>
    <ion-row>
      <ion-col size="3">
        <h6>{{ 'LBL_PLACE' | translate }}</h6>
      </ion-col>
      <ion-col size="9">
        <h6>{{place.Name}}</h6>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="3">
        <h6>{{ 'LBL_DURATION' | translate }}</h6>
      </ion-col>
      <ion-col size="9">
        <h6>{{ appointmentService.getTimeText()}}</h6>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="hasName">
      <ion-col size="3">
        <h6>{{ 'LBL_TEXT' | translate }}</h6>
      </ion-col>
      <ion-col size="9">
        <h6>{{ appointmentService.appointment.AppointmentName }}</h6>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-row *ngIf="!isNew">
    <ion-col size="6">
      <ion-button color="primary" [disabled]="!dataProvider.IsOnline" (click)="onCreateOrUpdate()" expand="block">{{
        buttonText }}</ion-button>
    </ion-col>
    <ion-col size="6">
      <ion-button color="orange" [disabled]="!dataProvider.IsOnline || !appointmentService.appointment.IsInTheFuture"
        (click)="onDelete()" expand="block">{{ 'BTN_DELETEADMINAPPOINTMENT' | translate }}</ion-button>
    </ion-col>
  </ion-row>
  <ion-button *ngIf="isNew" color="primary" [disabled]="!dataProvider.IsOnline" (click)="onCreateOrUpdate()"
    expand="block">{{ buttonText }}</ion-button>
  <ion-item>
    <ion-range min="30" max="240" step="30" snaps="true" color="success"
      [(ngModel)]="appointmentService.appointment.Duration">
      <ion-label range-left>30min</ion-label>
      <ion-label range-right>4h</ion-label>
    </ion-range>
  </ion-item>
  <ion-item>
    <ion-select label="{{ 'LBL_JOBTYPE' | translate }}" labelPlacement="floating"
      [(ngModel)]="appointmentService.appointment.JobType" interface="popover" multiple="false" (ionChange)="onChangeJobType()">
      <ion-select-option *ngFor="let jobtype of appointmentService.JobTypes" [value]="jobtype.id">{{jobtype.text}}</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-select label="{{ 'LBL_APPOINTMENTTYPE' | translate }}" labelPlacement="floating"
      [(ngModel)]="appointmentService.appointment.AppointmentType" interface="popover" multiple="false" (ionChange)="onChangeAppointmentType()">
      <ion-select-option *ngFor="let appointmenttype of appointmentService.AppointmentTypes" [value]="appointmenttype.id">{{appointmenttype.text}}</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-input label="{{ 'LBL_JOBNAME' | translate }}" type="text" labelPlacement="floating"
      [(ngModel)]="appointmentService.appointment.AppointmentName" name="jobname"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input label="{{ 'LBL_NUMSLOTS' | translate }}" autocorrect="on" type="number" min="1" max="8"
      labelPlacement="floating" [(ngModel)]="appointmentService.appointment.NumSlots"></ion-input>
  </ion-item>
  <ion-item>
    <ion-checkbox labelPlacement="start" [(ngModel)]="appointmentService.appointment.BlockPlace">{{ 'LBL_BLOCK_PLACE' |
      translate }}</ion-checkbox>
  </ion-item>
  <ion-item>
    <ion-checkbox labelPlacement="start" [(ngModel)]="appointmentService.appointment.FreeSlots">{{ 'LBL_FREE_SLOTS' |
      translate }}</ion-checkbox>
  </ion-item>
  <ion-item>
    <ion-textarea label="{{ 'LBL_COMMENT' | translate }}" #comment id="comment" rows="2" maxLength="500"
      (keyup)="resize()" labelPlacement="floating" [(ngModel)]="appointmentService.appointment.Comment"></ion-textarea>
  </ion-item>
</ion-content>